### Parcel Distance from Fresno City

This notebook adds the city_dist feature to the parcel dataset.

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import geof

In [5]:
df = pd.read_csv("../joined_combined_filtered_mined_soil_water_df_td_13_4.csv")

In [6]:
def city_dist(lat, long):
        
    dist = geof.geo_dist(36.747778, -119.7725, lat, long)

        
    return dist

In [7]:
df["city_dist"] = df.apply(lambda x: city_dist(x["lat"], x["lng"]), axis=1)

In [18]:
df.sort_values(by = "city_dist")

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0_x,geoid,sourceagent,parcelnumb,usecode,improvval,landval,parval,...,Crop,CropETo,WaterApplied,NetWaterUse_Applied,Factor,AppliedFromETo,AppliedWater,TotalWater,water_dist,city_dist
1933,1933,1933,1933,6019,NaN,47902029,POS,0.0,65954.0,65954.0,...,NaN,1.613333,2.800000,1.514586,0.500161,1.238095,2.157293,3.223960,13.861368,4.834046
24042,24042,24042,23986,6019,NaN,47906003,POS,0.0,817000.0,817000.0,...,Citrus (no ground cover),3.127500,NaN,NaN,NaN,3.401190,3.401190,4.467857,14.253419,4.945047
6027,6027,6027,6026,6019,NaN,47303010,S02,484982.0,259683.0,744665.0,...,"Flowers, Nursery and Christmas Tree",3.089167,NaN,NaN,NaN,3.346429,3.346429,4.413095,8.350519,5.017884
24770,24770,24770,24714,6019,NaN,47906002,POS,0.0,837000.0,837000.0,...,Misc. Deciduous,3.089167,NaN,3.293592,0.708212,3.346429,3.293592,4.360258,14.415946,5.050640
7521,7521,7521,7519,6019,NaN,47303063,ORA,98653.0,158911.0,257564.0,...,Citrus (no ground cover),3.127500,NaN,NaN,NaN,3.401190,3.401190,4.467857,8.464528,5.098729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19560,19560,19560,19522,6019,NaN,00512045S,000,0.0,426564.0,426564.0,...,Almonds,3.265000,NaN,3.537037,0.708955,3.597619,3.537037,4.603704,13.526175,89.751735
18973,18973,18973,18935,6019,NaN,00902115,FIE,27305.0,22507.0,49812.0,...,Almonds,3.265000,NaN,3.537037,0.708955,3.597619,3.537037,4.603704,12.192581,89.785001
19067,19067,19067,19029,6019,NaN,00510021ST,NaN,NaN,NaN,NaN,...,"Melons, Squash, and Cucumbers",2.065833,NaN,1.767241,0.728541,1.884524,1.767241,2.833908,14.866819,90.002728
19221,19221,19221,19183,6019,NaN,00510026ST,NaN,NaN,NaN,NaN,...,"Melons, Squash, and Cucumbers",2.065833,NaN,1.767241,0.728541,1.884524,1.767241,2.833908,14.823137,90.118737
20067,20067,20067,20028,6019,NaN,09006021S,DRY,0.0,36321.0,36321.0,...,Grain and Grain Hay,1.568333,2.649412,1.392361,0.507679,1.173810,2.020887,3.087553,18.810269,90.957146

In [19]:
df.iloc[7521]["address"]

'1949 S WILLOW AVE'

In [20]:
df.to_csv("../joined_combined_filtered_mined_soil_water_df_td_17_4.csv")